@mixin styleText($fs, $fw, $color) {
    font-size: $fs;
    font-weight: $fw;
    color: $color;
}

@mixin styleBtn($bg, $pd-y, $pd-x, $bd, $radius, $ls) {
    background: $bg;
    padding: $pd-y $pd-x;
    border: $bd;
    border-radius: $radius;
    letter-spacing: $ls;
}